<!DOCTYPE html>
<html>
<head>
	<title>비밀번호 수정</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>
<body> 
	<form method="post" name = "frm">
		<div>
			{% csrf_token%}
			<p>새 비밀번호 : <input type = "password" id = "user_psw" name = "user_psw" placeholder=" 영문, 숫자 조합 6자 이상"></p>
			<p>새 비밀번호 확인 : <input type = "password" id ="user_re_psw" onchange="check_psw();">
			<p id = "psw_check_result"></p>
			<input type="checkbox" onclick="showPassword()"><font size="1.9">비밀번호 보기</font></p>
			<button type="button" onclick="check_submit();">비밀번호 변경</button>
			<input id="user_id" type="text" value="{{member.user_id}}" hidden="hidden">
		</div>
	</form>
	<script type="text/javascript">
		var user_id = $("#user_id").val();
		//alert(user_id);
		function showPassword() {
		    var x = document.getElementById("user_re_psw");
			    if (x.type === "password") {
			        x.type = "text";
			    } else {
			        x.type = "password";
			    }
		}

		var psw_validation = 'false';

		function check_psw(){
			var psw = $("#user_psw").val();
			var re_psw = $("#user_re_psw").val();

			if(psw == re_psw){
				$("#psw_check_result").html("PASS");
				$("#psw_check_result").css({
					'color' : 'green',
				});
				psw_validation = 'true';
			}
			else{
				$("#psw_check_result").html("Not correct");
				$("#psw_check_result").css({
					'color': 'red',
				});
				psw_validation = 'false';
			}
		}
 
		function check_submit(){
			if(psw_validation == 'true'){
				var form = document.frm;
				form.action = "../../psw_changed_success/"+user_id+"/";
				form.submit();
			}
			else{
				alert("비밀번호를 확인해주세요");
			}
		}
	</script>
</body>
</html>