<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
	function validation(){
			var id = $("#id").val();
			var email = $("#email").val(); 

			$.ajax({
	          url: '/check_validation/',
	          data: {
	          	  'id' : id,
	          	  'email' : email,
	          },
	          dataType: 'json',
	          success: function (data) {
	          	//alert(data.result);

				if(data.result == 'success'){ 
	          		var form = document.frm;
	          		form.action="../../password_change_success/";
	          		form.submit();
	          	}
	          	else if(data.result == 'id_failed'){
	          		alert("존재하지 않는 ID 입니다.");
	          	}
	          	else{
	          		alert("값을 다시 확인해주세요.");
	          	}
	          }
	        });
		}
	</script>
</head>
<body>
	<form class="check_form" method="post" name="frm" >
		{% csrf_token%}
		<p>아이디 : <input type = "text" id = "id" name = "id"></p>
		<p>E-mail : <input type="text" id="email" name = "email"></p>
		<button type="button" onclick="validation();">메일 보내기</button>
	</form>
</body>
</html> 